:host {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #202020;
  min-height: 100vh;
  box-sizing: border-box;
}

.sidebar {
  width: 160px;
  flex-shrink: 0;
  border-right: 2px solid #202020;
}

.content {
  min-height: 100%;
  width: 100%;
  padding: 8px;
}

ul.sidebar li {
  box-sizing: border-box;
  margin: 4px;
  padding: 6px 8px;
  width: calc(100% - 8px);
  border-radius: 2px;

  display: flex;
  align-items: center;
  gap: 8px;
}

ul.sidebar li:hover, ul.sidebar li.active {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

ul.sidebar li:active {
  background-color: rgba(255, 255, 255, 0.1);
}
