/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #292A2D;
  color: white;
  font-size: 13px;
}

h2 {
  font-weight: 400;
  margin-bottom: 8px;
}
