<h2>Heap Policy Parameters</h2>
<table>
  <tr>
    <td>
      <a>Young Generation Size:</a>
    </td>
    <td>
      <a>{{data?.HeapPolicyParameters?.YoungGenerationSize}} byte(s)</a>
    </td>
  </tr>
  <tr>
    <td>
      <a>Maximum Heap Size:</a>
    </td>
    <td>
      <a>{{data?.HeapPolicyParameters?.MaximumHeapSize}} byte(s)</a>
    </td>
  </tr>
  <tr>
    <td>
      <a>Minimum Heap Size:</a>
    </td>
    <td>
      <a>{{data?.HeapPolicyParameters?.MinimumHeapSize}} byte(s)</a>
    </td>
  </tr>
  <tr>
    <td>
      <a>Aligned Chunk Size:</a>
    </td>
    <td>
      <a>{{data?.HeapPolicyParameters?.AlignedChunkSize}} byte(s)</a>
    </td>
  </tr>
  <tr>
    <td>
      <a>Large Array Threshold:</a>
    </td>
    <td>
      <a>{{data?.HeapPolicyParameters?.LargeArrayThreshold}} byte(s)</a>
    </td>
  </tr>
</table>
