.monospace {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

tr:first-child {
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

tr:nth-child(2n+3) {
  background-color: rgba(255, 255, 255, 0.05);
}

td, th {
  padding: 8px 4px;
}
