.monospace {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

tr:first-child {
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

tr:nth-child(2n+3) {
  background-color: rgba(255, 255, 255, 0.05);
}

td, th {
  padding: 8px 4px;
}

.general-prop {
  margin-bottom: 4px;
  color: gray;
}

.general-prop span {
  color: white;
}

.spacer {
  padding: 8px;
}

.clickable {
  cursor: pointer;
}

.chunk-graph {
  background-color: #202020;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.chunk-graph-item {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.chunk-graph-item:not(:last-child) span:after {
  content: '▸';
  margin-left: 18px;
}

.chunk-graph-item span {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: block;
}
