ul li {
  box-sizing: border-box;
  margin: 4px;
  padding: 4px 8px;
  width: calc(100% - 8px);
  border-radius: 2px;

  display: flex;
  align-items: center;
  gap: 8px;
}

ul li:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

ul li:active {
  background-color: rgba(255, 255, 255, 0.1);
}
